* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Hiragino Kaku Gothic Pro";
}
.section__wrapper{
    display: flex;
    flex-flow: column wrap;
    margin: 0px 300px 0px;
}
.section__titles-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 120px;
    color: white;
}
.section__title-1 {
    font-size: 52px;
    margin-bottom: 28px;
}
.section__sub-title-1 {
    font-size: 28px;
}
.section__des-wrapper {
    color: white;
    margin: 62px 50px 10px;
    overflow-wrap: break-word;
}
.section__des-txt-1 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
}
.section__des-txt-2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.section__des-wrapper-hide {
    color: white;
    margin: 30px 50px 10px;
    overflow-wrap: break-word;
}
.section__hide {
    display: none;
}

