
/* -- -- -- Common -- --  -- -- -- > */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}
.section__wrapper {
    display: flex;
    flex-flow: column wrap;
    margin: 0px 300px 0px;
}
.section__titles-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 120px;
    color: #ffffff;
}
.section__title-1 {
    font-size: 52px;
    margin-bottom: 28px;
}
.section__sub-title-1 {
    font-size: 28px;
}
.section__des-wrapper {
    color: #ffffff;
    margin: 62px 50px 10px;
    overflow-wrap: break-word;
}
.section__des-txt-1 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    text-align: justify;
}
.section__des-txt-2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
}
.section__des-wrapper-hide {
    color: #ffffff;
    margin: 30px 50px 10px;
    overflow-wrap: break-word;
}
.section__hide {
    display: none;
}
.section__see-btn-wrapper{
    display: flex;
    justify-content: center;
}
.section__two-col-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 60px;
    color: #ffffff;
}

/* < -- -- -- -- -- -- -- -- -- */

.header__wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 56px;
    background-color: rgb(35,33,39);
    
}
.header__title-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
}
.header__id-link {
    width: 50%;
    display: flex;
    justify-content: center;
}
.header__title {
    margin-right: 20px;
}
.header__logo {
    margin-right: 20px;
}
.id-link__wrapper{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.header__menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 56px;
}
.menu__btn-wrapper {
    width: 100px;
    height: 100px;
}
.menu__btn {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}
.kv__wrapper {
    width: 100%;
}
.kv__img {
    width: 1440px;
    object-fit: cover;
    object-position: center;
}
.ov__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/ov_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.ov__description-wrapper {
    width: 850px;
    background-image: url("/images/ov_description_bg.jpg");
    display: flex;
    flex-flow: row wrap;
    margin: 59px 0px 40px;
    border-radius: 20px;
}
.ov__left-col {
    margin: 51px 38px 0px 50px;
}
.ov__des-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 42px;
}
.ov__right-col {
    margin-top: 52px;
}

.ov__des-txt {
    margin-bottom: 45px;
}
.pv__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/pv_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.pv__vid-wrapper {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 120px;
}
.pv__vid {
    width: 1000px;
    object-fit: cover;
    object-position: center;
}
.intro__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/intro_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.intro__see-btn {
    height: 70px;
    width: 380px;
    background-image: url("/images/intro_see_bg_btn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    padding: 5px;
    margin: 12px 0 60px;
    border: 2px solid #68ceeb;
}
.story__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/story_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.story__see-btn {
    height: 70px;
    width: 380px;
    background-image: url("/images/story_see_bg_btn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin: 12px 0 60px;
    border: none;
}
.char__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image:url("/images/char_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.char__col-left-wrapper {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    overflow-wrap: break-word ;
    margin-top: 30px;
}
.char__col-right-wrapper {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    overflow-wrap: break-word ;
    margin-top: 30px;
}
.char__img-wrapper {
    display: flex;
    justify-content: center;
}
.char__img-caption {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 30px;
}
.char__img-left-des {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 40px;
}
.char__img-right-des {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 40px;
}
.char__see-btn {
    height: 70px;
    width: 380px;
    background-image: url("/images/char_see_bg_btn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    margin: 12px 0 60px;
    border: none;
}
.char__others-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #ffffff;
    border-top: 1px solid lightblue;
}
.char__other {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    overflow-wrap: break-word;
    width: 30%;
    margin-top: 80px;
}
.char__other-title {
    text-align: center;
    margin-bottom: 30px;
}
.char__other-des {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.hl__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("/images/hl_bg.jpg");
    background-size: cover;
}
.hl__info-wrapper {
    width: 100%;
    background-image: url("/images/hl_info_bg.jpg");
    border-radius: 5px;
    padding: 5px;
    margin-top: 61px;
    margin-bottom: 30px;
}
.hl__info-two-col-wrapper {
    display: flex;
    flex-flow: row wrap;
}
.hl__info-title-wrapper {
    width: 80%;
    margin: 52px 0px 15px 50px;
}
.hl__info-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
}
.hl__info-btn-wrapper {
    width: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
.hl__info-see-more {
    background-image: url("/images/hl_see_more_btn.png");
    background-position: center;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 55px;
    margin-left: 35px;
    position: absolute;
}
.hl__info-see-less {
    background-image: url("/images/hl_see_less_btn.png");
    background-position: center;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    right: 10px;
    display: none;
}
.hl__info-des {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
}
.staff__wrapper {
    display: flex;
    justify-content: center;
    background-image: url("/images/staff_bg.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.staff_info-des-wrapper {
    display: flex;
    flex-flow: row;
}
.staff__info-see-more {
    background-image: url("/images/hl_see_more_btn.png");
    background-position: center;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: 55px;
    margin-left: 35px;
}
.staff__info-des {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    margin: 0px 0px 6px 50px;
}
.staff_info-txt {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
} 
.staff__info-ending-txt {
    font-size: 16px;
    line-height: 1.5;
    
}  
.staff__info-sub-end-txt {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
}
.staff__info-img-wrapper {
    display: flex;
    justify-content: end;
    width: 204px;
    height: 253px;
    margin-left: 40px;
    margin-right: 40px;
}
.staff__info-img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.staff__info-table-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.staff__info-table {
    text-align: center;
    width: 100%;
    margin: 20px 50px 60px;
}
.staff__info-table-body {
    font-size: 16px;
}
.staff__info-table-head {
    background-image: url("/images/staff_info_table_b_img.jpg");
    font-weight: bold;
    padding: 18px 0px 18px;
    color: #ffffff;
}
.staff__info-td-name {
    padding: 18px 0px 18px;
    font-size: 16px;
    font-weight: bold;
}
.staff__info-id-txt {
    color: #2e2e33;
}
.staff__sepline-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.staff__sepline-ending-txt {
    font-size: 20px;
    color: #ffffff;
    margin: 100px 0px 32px;
}
.staff__nb-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
}
.staff__nb-title {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    line-height: 1.5;
}
.staff__nb-two-col-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 46px;
}
.staff__nb-col-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
}
.staff__nb-col-txt {
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    margin-right: 16px;
}
.staff__nb-col-img {
    width: 400px;
    object-fit: contain;
}

